@media print {
  /** Remove Scroll Bar*/
  div:has(> .MuiTable-root) {
    overflow: visible !important;
  }

  /** Remove Tools on Print */
  .MuiToolbar-root .MuiButtonBase-root {
    display: none !important;
  }
  .MuiTableFooter-root {
    display: none !important;
  }

  /** Remove border shadow */
  .MuiPaper-root {
    box-shadow: none !important;
    border-radius: 0px !important;
  }
}

table {
  border: 1px solid #ddd; /* Set your desired border style and color */
  padding: 8px;
  text-align: left;
}
th {
  border: 1px solid #ddd; /* Set your desired border style and color */
  padding: 8px;
  text-align: left;
}
td {
  border: 1px solid #ddd; /* Set your desired border style and color */
  padding: 8px;
  text-align: left;
}
