@media print {
  body * {
    visibility: hidden;
  }
  .print-container,
  .print-container * {
    visibility: visible;
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print-container .paper {
    overflow: visible !important;
    height: auto !important;
    box-shadow: none !important;
  }
  .print-container .print-hidden {
    visibility: hidden;
  }

  /** MUI Datatable */
  .MuiToolbar-root > div:nth-child(2),
  .MuiTableCell-paddingCheckbox,
  .MUIDataTableSelectCell,
  .MuiTableFooter-root {
    display: none !important;
  }
  .MuiPaper-root {
    height: 100vh !important;
    border-radius: 0px !important;
  }
}
