@media print {
  body * {
    visibility: hidden;
  }
  .print-container,
  .print-container * {
    visibility: visible;
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print-container .paper {
    overflow: visible !important;
    height: auto !important;
    box-shadow: none !important;
  }
  .print-container .print-hidden {
    visibility: hidden;
  }

  /* MUI DATA TABLE */
  /** Remove Scroll Bar*/
  div:has(> .MuiTable-root) {
    overflow: visible !important;
  }

  /** Remove Tools on Print */
  .MuiToolbar-root .MuiButtonBase-root {
    display: none !important;
  }
  .MuiTableFooter-root {
    display: none !important;
  }

  /** Remove border shadow */
  .MuiPaper-root {
    box-shadow: none !important;
    border-radius: 0px !important;
  }
}

table,
th,
tr,
td {
  text-align: center !important;
}
